@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--green-highlight);
  color: white;
}