@import "tailwindcss";

@theme {
  --color-green-dark: #444A3F;
  --color-green-mid: #122012;
  --color-green-accent: #1a3a1a;
  --color-green-highlight: #2d5a2d;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-green-dark);
  color: white;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-green-highlight);
  color: white;
}